fastapi
uvicorn[standard]
python-multipart
langchain
langchain-core
langchain-groq
langgraph
langsmith
groq
python-dotenv
gitpython
tqdm
openai
langchain-openai
langchain-community
reportlab
loguru
sqlalchemy
psycopg2-binary
alembic